*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Parkinsans';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    box-shadow: 0 15px 20px #abb2b9;
}

h2 {
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    color: #2f4f4f;
    padding-bottom: 8px;
    border-bottom: 1px solid #c0c0c0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.input-box label {
    width: 95%;
    color: #2f4f4f;
    font-weight: bold;
    margin: 5px 0;
}

.input-box input {
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.input-box input:is(:focus, :valid) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.submit-container {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 40px;
}

.submit-container > button {
    padding: 15px;
    font-size: 1rem;
}
  
  #btn-edit{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  #btn-edit span{
    bottom: 15px;
    position: relative;
    z-index: 2;
  }
  
  #btn-edit:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #7c7c7c;
    transition: all .35s;
  }
  
  #btn-edit:hover{
    color: #fff;
  }
  
  #btn-edit:hover:after{
    width: 100%;
  }

  .price-container {
    margin-top: 50px;
    width: 100%;
  }

  #price {
    font-size: 25px;
    margin-left: 5px;
  }

  @media(max-width:600px) {

    .container {
        min-width: 280px;
    }

    .content {
        max-height: 380px;
        overflow: auto;
    }

    h2, 
    #price {
        font-size: 19px;
    }

    #price {
        margin-left: 0;
    }

    .input-box {
        margin-bottom: 12px;
        width: 100%;
    }
  }



  /* Orçamento Solar */
.orcamento-section {
    display: none;
    width: 100%;
    background: #ffffff40;  
    border-radius: 10px;
    box-shadow: 0 15px 20px #abb2b9;
    backdrop-filter: blur(13px);  
    -webkit-backdrop-filter: blur(13px);
    padding: 40px;
    margin-top: 50px;
    border: 1px solid #ffffff2e;
}

/* Título da Seção */
.orcamento-section h2 {
    font-size: 2.5rem;
}

.content-pdf {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Conteúdo da Seção */
/* #content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
} */

.info-section {
    width: 80%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #efefef; 
    border-radius: 10px;
    border: 1px solid #c9c9c9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.info-section h2 {
    font-size: 1.6rem;
    color: #2f4f4f;
    margin-bottom: 15px;
    text-align: center;
}

/* Parágrafos dentro das informações */
.info-section p {
    font-size: 1.2rem;
    margin: 8px 0;
    color: #333;
}

/* Destaque para as informações importantes */
.highlight {
    font-weight: bold;
    color: #2b2b2b;  
}

/* Estilo do Botão de Download */
.download-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #1f72b6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
}

.download-button:hover {
    background-color: #145a89;
}

/* Responsividade para telas menores */
@media screen and (max-width: 768px) {
    #orcamento-section {
        padding: 20px;
    }

    .info-section {
        width: 100%;
        margin-bottom: 15px;
    }

    .info-section h2 {
        font-size: 1.4rem;
    }

    .info-section p {
        font-size: 1.1rem;
    }

    .download-button {
        width: 100%;
        padding: 15px;
    }
}
